
<div class="w3-card-4">
  <p>account-detail works!</p>
  <p>Route ID: {{ id }}</p>  
  <table class="w3-table">
    <thead>
        <tr>
            <th><span>Student_Code</span></th>
            <th><span>Name</span></th>
            <th><span>Address</span></th>
            <th><span>Phone_Number</span></th>
            <th><span>Image_Url</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{student.Student_code}}</td>
            <td>{{student.Name}}</td>
            <td>{{student.Address}}</td>
            <td>{{student.PhoneNumber}}</td>
            <td>{{student.ImageURL}}</td>
        </tr>
    </tbody>
</table>
</div>


